/* Created by: Colton
* Created on: march 2023
* This file contains the CSS for index.html
*/
body {
  background-color: green;
}

img {
  float: right;
}

h1 {
}
  background-color: blue;
  color: white;
  padding: 40px;
  text-align: center;  .+
  

